.login-screen {
  width: 600px;
  margin: auto;
}

.login-screen a{
  color: white;
  text-decoration: none;
  display: inline;
  margin-left: 35%;
}

.login-screen img{
  display: inline;
  margin-top: 15%;
  margin-left: 25%;
}


.login-btn img{
  margin-left: 0%;

}
