.login-screen {
  width: 300px;
  margin: auto;
  margin-top: 10%;
}

.login-screen a{
  color: white;
  text-decoration: none;
  display: inline;
  margin-left: 38%;
}

.login-screen img{
  display: inline;
  margin-top: 15%;
}
