/*
Jamendo Player Stylesheet
Cooked by Donald Derek Haddad at Arabnet Devtour 2012
*/

.wf-loading * {
    opacity: 0;
}


h1,h2,h3,h4{
    font-family: 'Press Start 2P', sans-serif;
    margin:0;
}
ul,ol{
    list-style: none;
    margin:0;
    padding:0;  
    font-size: 10px;
}
body{
    font-family: 'Press Start 2P', sans-serif;
    background-color: #2F343A;  
    color:#FEFEFE;
}

/*To Load Google Fonts in a decent way*/
.wf-loading {
    background: url('../img/ajax-loader.gif') no-repeat center center;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.wf-active *, 
.wf-inactive * {
    -webkit-transition: opacity 1s ease-out;  
    -moz-transition: opacity 1s ease-out; 
    -o-transition: opacity 1s ease-out;  
    transition: opacity 1s ease-out;  
}

.wf-/*loading*/:after {
    content: "loading fonts..";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #135040;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 20em;
    text-align: center;
}
.main-container{
    width:960px;
    margin: 20px auto;
    box-shadow: 2px 1px 6px #333;
}
.left{
    float:left;
}
.profile-card{
    background: #FEFEFE;
    height: 400px;
}
.blocks{
    height: 80px;
    background-image: url('../images/me-sprite-bg.png');
    cursor: pointer;
}
.actions #sleep{
    border-left: solid 16px #4945D9;
    background-position: 0px 0px;
}
.actions #feed{
    border-left: solid 16px #4DAF7C;
    background-position: -80px 0px;
}
.actions #social{
    border-left: solid 16px #FF7676;
    background-position: -160px 0px;
}
.actions #prod{
    border-left:solid 16px #FA8641;
    background-position: -240px 0px;
}
.actions #workout{
    border-left: solid 16px #5C97C0;
    background-position: -320px 0px;
}
.actions{
    width:100px;
    height: 400px;
    background: #414146;
}

.profile{
    width: 629px;
    height: 400px;
    border-right: 1px solid #D5D6D8;
    background: #222;
    text-align: center;
}
.profile img{
    margin-top: 22px;
    padding-bottom: 10px;
}
.profile-card{
    background: #FEFEFE;
}
.stats{
    width:230px;   
    height: 400px;
    background: #414146;
}
.heart{

    background-image: url('../images/heart.png');
    width: 24px;
    height: 22px;
    margin-left: 10px;
    float:left;
}
.spec{
    margin-top: 26px;
}
.spec h4{
    margin: 10px; 
    color: white;
}
.rate{
    margin-top: 7px;
}
.rate .off{
    background-position: 0px 22px;
}
.rate .on{
    background-position: 0px 0px;
}
.main-nav{
    margin: 20px auto;
    width: 960px;
    margin-bottom: 40px;

}


#logout, #dashboard {
  float: right;
  margin-left: 25px;
  margin-top: 25px;
}
